{% block head %}
	{% load bootstrap3 %}
	<script src="{% bootstrap_jquery_url %}"></script>
	{% bootstrap_javascript %}
	{% bootstrap_css %} 
	
	<link rel="home" type="application/rss+xml" href="http://example.com/feed" />
{% endblock head %}

{% block content %}
 	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-8">
				{% block page %}
    			{% endblock page %}
			</div>
			<div class="col-sm-3 col-xs-3 col-sm-offset-1 blog-sidebar">
				{% block sidebar %}
				<div class="sidebar-module sidebar-module-inset">
	    			{% include 'blog/popular.html' %}
				</div>
				{% endblock sidebar %}
			</div>
		</div>
	</div>
{% endblock content %}
{% block footer %}
{% endblock footer%}