{% extends 'home/base.html' %}
{% block page %}
    <h1>Publisher</h1>
    {% if article_lists %}
        {% for article in article_lists %}
            <article>
                <a href="{{ article.get_absolute_url }}">
                    <h2>{{ article.article_title }}</h2>
                </a>
                {{ article.desctription|safe }}
<!--                {% include 'blog/article.html' %} -->
                <p><a class="btn btn-default btn-sm" href="{{ article.get_absolute_url }}">Read article</a></p>
		{{ article.get_absolute_url }}
            </article>
        {% endfor %}
    {% endif %}
{% load bootstrap3 %}
{% bootstrap_pagination article_lists %}
{% endblock %}