{% extends 'blog/base.html' %}
{% block page %}
    <article>
        <h1>{{ article.article_title }}</h1>
        <p>{{ article.article_content|safe }}</p>


{% if popular_list %}{% load bootstrap3 %}
    <ul class="list-group">
        <li class="list-group-item active"><strong>Популярные публикации за неделю</strong></li>
        {% for pop_article in popular_list %}
            <li class="list-group-item">
                <a href="{% url 'blog:article_stat' pop_article.article_id %}">{{ pop_article.article__article_title }} 1</a>
            </li>
        {% endfor %}

    </ul>
{% endif %}

        </article>

{% endblock %}